<%= form_for(@combat) do |form| %>
  <% if @combat.custom_errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@combat.custom_errors.uniq.count, "error") %> prohibited this combat from being saved:</h2>

      <ul>
        <% @combat.custom_errors.uniq.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

    <%= link_to "Launch a new battle", new_combat_path %> 
  <% else %>
    <div class="field">
      <% values = Player.limit(10).pluck(:player_name, :id)
      options = options_for_select(values)
    %>
      <%= form.label :player1 %>
      <%= form.select :player1_id, options %>
    </div>

    <div class="field">
      <%= form.label :player2 %>
      <%= form.select :player2_id, options %>

    </div>


    <div class="actions">
      <%= form.submit "Start your battle" %>
    </div>
  <% end %>
<% end %>
