<%= form_for(@combat) do |form| %>
  <% if @combat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@combat.errors.count, "error") %> prohibited this combat from being saved:</h2>

      <ul>
        <% @combat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% values = Player.limit(10).pluck(:player_name, :id)
    options = options_for_select(values)
  %>
    <%= form.label :player1 %>
    <%= require 'pry'; binding.pry; 
     select_tag :player1_id, options %>
  </div>

  <div class="field">
    <%= form.label :player2 %>
    <%= select_tag :player2_id, options %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
