<%= form_for(@combat) do |form| %>
  <% if @combat.custom_errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@combat.custom_errors.uniq.count, "error") %> prohibited this combat from being saved:</h2>

      <ul>
        <% @combat.custom_errors.uniq.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

    <%= link_to "Launch a new battle", new_combat_path %> 
  <% else %>
    <% player_values = Player.limit(10).pluck(:player_name, :id)
       player_options = options_for_select(player_values)
       weapon_values = [["---", 0]] + Equipment.weapons.limit(10).pluck(:equipment_name, :id) 
       weapon_options = options_for_select(weapon_values) %>
    <div class="field">
      <%# TODO: Refactor into a helper %>
      <%= form.label :player1 %>
      <%= form.select :player1_id, player_options %>
    </div>
    <div class="field">
      <%= form.label :weapon1 %>
      <%= form.select :weapon1_id, weapon_options %>
    </div>

    <div class="field">
      <%= form.label :player2 %>
      <%= form.select :player2_id, player_options %>
    </div>
    <div class="field">
      <%= form.label :weapon2 %>
      <%= form.select :weapon2_id, weapon_options %>
    </div>


    <div class="actions">
      <%= form.submit "Start your battle" %>
    </div>
  <% end %>
<% end %>
