<p id="notice"><%= notice %></p>

<section class="combat-main">
  <h4>Battle recap</h4>
  <p>
    <%= @combat.result %>
  </p>
</section>
<section class="combat-details">
<%= render "turns/details", combat: @combat %> 
</section>

<%= link_to "Launch a new battle", new_combat_path %> 
<%= link_to 'Home', root_path %>
