<%= form_with(model: arena, local: true) do |form| %>
  <% if arena.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arena.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
        <% arena.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :arena_name %>
    <%= form.text_field :arena_name %>
  </div>

  <div class="field">
    <%= form.label :arena_description %>
    <%= form.text_area :arena_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
