<td>
  <%= turn.attacker_name %>
</td>
<td>
  <%= turn.defender_name %>
</td>
<td>
  <%= turn.weapon_name %>
</td>
<td>
  <%= turn.hit_with %>
</td>
<td>
  <%= turn.hitpoints_left.positive? ? turn.hitpoints_left : "dead" %>
</td>
